* {
    margin: 0;
    background: #ffd7b5;
    font-family: 'Mukta', sans-serif;
}

.appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 35px;
    font-size: 40px;
}

.inputBox {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 6px;
    border-width: 1px;
    width: 250px;
    height: 35px;
    padding-left: 15px;
}

button {
    width: 100px;
    height: 30px;
    margin-top: 25px;
    border-width: 0px;
    border-radius: 3px;
    background-color: #ed7158;
}

.bookGridContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bookGrid {
    display: inline-block;
    padding: 20px;
    flex-grow: 1;
    border-radius: 15px;
    /* color: black; */
    flex: 1 0 21%;
    margin: 5px 5px 50px 5px;
    width: 600px;
    background-color: #ed7158;
}

.bookTitle {
    background-color: #ed7158;
}

.bookAuthor {
    background-color: #ed7158;
}

.bookPublisher {
    background-color: #ed7158;
}

.bookPublished {
    background-color: #ed7158;
}

.bookCat {
    background-color: #ed7158;
}

.bookDesc {
    background-color: #ed7158;
}

img {
    background-color: #ed7158;
}