* {
    margin: 0;
    background: #ffd7b5;
    font-family: 'Mukta', sans-serif;
}

.appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 35px;
    font-size: 40px;
}

.inputBox {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 6px;
    border-width: 1px;
    width: 250px;
    height: 35px;
    padding-left: 15px;
}

button {
    width: 100px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    border-width: 0px;
    border-radius: 3px;
    background-color: #fffaf2;
}

.bookGridContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    width: 66%;
}

.bookGrid {
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    flex: 1 0 35%;
    margin: 5px 19px 36px 5px;
    width: 600px;
    background-color: #fffaf2;
    flex-direction: row;
    border: 2px solid #fff0d9;
}

.bookTitle {
    background-color: #fffaf2;
    font-size: 18px;
    width: 95%;
    margin-bottom: 10px;
}

.bookAuthor {
    background-color: #fffaf2;
}

.bookPublisher {
    background-color: #fffaf2;
}

.bookPublished {
    background-color: #fffaf2;
}

.bookCat {
    background-color: #fffaf2;
}

.bookDesc {
    background-color: #fffaf2;
}

img {
    background-color: #fffaf2;
    width: 128px;
    height: auto;
    display: block;
    margin-right: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fffaf2;
}

.sectional2 {
    background-color: #fffaf2;
}

strong {
    background-color: #fffaf2;
}